body {
	margin:0px;
	width:650px;
	background-color:#555;
	margin:auto;
}

.none{
}

.demolishmode{
	cursor:crosshair;
}

.buildmode{
	cursor:move;
}

.menu {
	background-color:#666;
	height:54px;
	cursor:default;
}

.menu img {
	margin:10px;
	border-left:solid 1px #000;
	border-bottom:solid 1px #bbb;
	border-right:solid 1px #bbb;
	border-top:solid 1px #000;
	background-color:#aaa;
}
.field {
		height:480px;
		width:640px;
		margin:auto;
		clear:both;
}

.ticker {
	margin:auto;
	height:16px;
	text-align:center;
	background-color:#666;
}

.hidden-menu {
	visibility:hidden;
	position:absolute;
}

.show-menu {
	position:absolute;
	border:solid 1px #000;
	background-color:#ccc;
}

.show-menu a {
	width:150px;
	border:1px solid #ddd;
	display: block;
	text-decoration:none;
	color:#000;
	cursor:default;
}

.menubutton {
	float:left;
}

.menubutton-right {
	float:right;
}

.menubutton-right-hidden {
	float:right;
	visibility:hidden;
}

.menubutton-right img {
	margin:10px;
	border-left:solid 1px #666;
	border-bottom:solid 1px #666;
	border-right:solid 1px #666;
	border-top:solid 1px #666;
	background-color:#666;
}

.window-hidden {
	visibility:hidden;
	max-height:0px;
}

.windowb {
	position:absolute;
	background-color:#ccc;
	width:599px;
	max-height:429px;
	margin:25px;
	border:solid 2px #666;
}

.windowb h1 {
	font-size:12px;
	margin:0px;
	padding:0px;
	padding-left:5px;
	background-color:#00E;
	border-bottom:solid 1px #666;
	font-weight:normal;
	color:#FFF;
}

.windowb p {
	padding:5px;
	margin:5px;
}

.windowb form {
	border-top:solid 1px #333;
	width:90%;
	margin:auto;
}

.windowb input {
	float:right;
	margin:5px;
}