body {
	margin:0px;
	width:650px;
	background-color:#555;
	margin:auto;
}

.menu {
	background-color:#666;
	height:50px;
}

.menu img {
	margin:10px;
	border-left:solid 1px #000;
	border-bottom:solid 1px #bbb;
	border-right:solid 1px #bbb;
	border-top:solid 1px #000;
	background-color:#aaa;
}
.field {
		height:480px;
		width:640px;
		margin:auto;
}

.grass td {
	background-image:url(../img/grass.png);
}

.ticker {
	margin:auto;
	height:16px;
	text-align:center;
}